@{
    ViewData["Title"] = "Home Page";
}
<h1>Index</h1>


<a href="/Home/Test1" target="_blank">测试1</a>
<br />
<br />
<a href="/Home/Test2" target="_blank">测试2</a>
<br />
<br />

<a href="/Home/Test3" target="_blank">测试3</a>
<br />
<br />

<a href="/Home/Test4" target="_blank">测试4</a>
<br />
<br />

<a href="/Home/Test5" target="_blank">测试5</a>
<br />
<br />